# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds/
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
*.orig
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
 
# ====== #
# Custom #
# ====== #
*.tif
*.psd
obj/
Assets/Textures/Menu/Thumbs.db.meta
Assets/Sync/
Assets/StreamingAssets/build_info.txt
Assets/StreamingAssets/build_info.txt.meta
